
    <header class="main-header">
        <nav class="main-header__navigation-menu-container">
            <div class="navigation-menu-container__hamburger-icon" id="hamburgerIconId">
                <div class="hamburger-icon__upper-band"></div>
                <div class="hamburger-icon__average-band"></div>
                <div class="hamburger-icon__lower-band"></div>
            </div>
            <ul class="navigation-menu-container__submenu" id='menubarId'>
                <li><a href="#mealtimeMenubarId" class="submenu">Menu</a></li>
                <li><a href="#mealsMultiCarouselSectionId" class="submenu">Gallery</a></li>
                <li><a href="#commentsSectionId" class="submenu">Customer reviews</a></li>
                <li><a href="#subscriptionSectionId" class="submenu">Subscribe</a></li>
                <li><a href="#mainFooterId" class="submenu">Social networks</a></li>
            </ul>
        </nav>
        <div class="main-header__logo-container"></div>
        <div class="main-header__advertising-slogan-container">
                    <span class="advertising-slogan-container__advertising-slogan-upper">
                           We Provide The Best Food
                    </span>
            <span class="advertising-slogan-container__advertising-slogan-lower">
                           At The <span class="advertising-slogan-container__advertising-slogan-lower-accented-text">Right Price</span>
                    </span>
        </div>
    </header>
