
    <footer class="main-footer" id="mainFooterId">
        <div class="main-footer__logo-container-mini"> </div>
        <span class="logo-container-mini__logo-title">
                 MENU
             </span>
        <div class="main-footer__footer-note">
            Thats What We Are
        </div>
        <div class="main-footer__icon-refs-block">
            <div class="icon-refs-block__clickable-icon-container">
                <a class="clickable-icon-container__reference" href="https://www.facebook.com">
                    <div class="reference__diamond-icon"></div>
                    <div class="reference__facebook-logo"></div>
                </a>
            </div>
            <div class="icon-refs-block__clickable-icon-container">
                <a class="clickable-icon-container__reference" href="https://twitter.com/?lang=ru">
                    <div class="reference__diamond-icon"></div>
                    <div class="reference__twitter-logo"></div>
                </a>
            </div>
            <div class="icon-refs-block__clickable-icon-container">
                <a class="clickable-icon-container__reference" href="https://twitter.com/?lang=ru">
                    <div class="reference__diamond-icon"></div>
                    <div class="reference__bg-logo"></div>
                </a>
            </div>
        </div>
        <span class="main-footer__copyright">
                 &#xA9 2014 Menu Restaurant
             </span>
    </footer>
