
    <nav class="mealtime-menubar" id="mealtimeMenubarId">
        <button class="mealtime-menubar__menu-button
                                meals-description-section--active
                                mealtime-menubar__menu-button--as-happy-hour-positioned
                                mealtime-menubar__menu-button--as-happy-hour-decorated"
                id="happyHourButtonId">
            Happy Hour
        </button>
        <button class="mealtime-menubar__menu-button
                                mealtime-menubar__menu-button--inactive
                                mealtime-menubar__menu-button--as-party-time-positioned
                                mealtime-menubar__menu-button--as-party-time-decorated"
                id="partyTimeButtonId">
            Party Time
        </button>
        <button class="mealtime-menubar__menu-button
                                mealtime-menubar__menu-button--inactive
                                mealtime-menubar__menu-button--as-regular-meal-time-decorated
                                mealtime-menubar__menu-button--as-breakfast-positioned
                                mealtime-menubar__menu-button--as-breakfast-decorated"
                id="breakfastButtonId">
            Breakfast
        </button>
        <button class="mealtime-menubar__menu-button
                                mealtime-menubar__menu-button--inactive
                                mealtime-menubar__menu-button--as-regular-meal-time-decorated
                                mealtime-menubar__menu-button--as-lunch-positioned
                                mealtime-menubar__menu-button--as-lunch-decorated"
                id="lunchButtonId">
            Lunch
        </button>
        <button class="mealtime-menubar__menu-button
                                mealtime-menubar__menu-button--inactive
                                mealtime-menubar__menu-button--as-regular-meal-time-decorated
                                mealtime-menubar__menu-button--as-dinner-positioned
                                mealtime-menubar__menu-button--as-dinner-decorated"
                id="dinnerButtonId">
            Dinner
        </button>
    </nav>
