
    <!------------------------------------------Lunch------------------------------------------------------------------->
    <section class="meals-description-section  meals-description-section--inactive" id="lunchBoxId">
        <div class="meals-description-section__horizontal-duplex-img-container
                              meals-description-section__horizontal-duplex-img-container--as-food-positioned">
            <div class="horizontal-duplex-img-container__part-img
                                  horizontal-duplex-img-container__part-img--as-top-img
                                  horizontal-duplex-img-container__part-img--as-lunch-decorated"></div>
            <div class="horizontal-duplex-img-container__part-img
                                  horizontal-duplex-img-container__part-img--as-bottom-img
                                  horizontal-duplex-img-container__part-img--as-lunch-decorated"></div>
        </div>
        <article class="meals-description-section__meals-description-container">
            <div class="meals-description-container__article-title
                                      meals-description-container__article-title--as-food-positioned
                                      meals-description-container__article-title--as-food-container-configured">
                Lunch
            </div>
            <div class="meals-description-container__article-note
                                      meals-description-container__article-note--as-food-positioned
                                      meals-description-container__article-note--as-food-container-configured">
                You'll love our delicous fast food
            </div>
            <div class="meals-description-container__article
                                     meals-description-container__article--as-food-positioned
                                    meals-description-container__article--as-food-container-configured">
                Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in re prehendeerit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Exce teur sint occaecat
                cupi datat non proident
            </div>
            <div class="meals-description-container__view-food-gallery-button-container">
                <a href="#mealsMultiCarouselSectionId"  class="meals-description-container__reference">
                    VIEW GALLERRY <span class="meals-description-container__view-gallery-meals-button-related-right-arrow">&#8594</span>
                </a >
            </div>
        </article>
        <!--------->
        <div class="meals-description-section__vertical-duplex-img-container
                                  meals-description-section__vertical-duplex-img-container--as-drinks-positioned">
            <div class="vertical-duplex-img-container__part-img
                                      vertical-duplex-img-container__part-img--as-left-img
                                      vertical-duplex-img-container__part-img--as-lunch-decorated"></div>
            <div class="vertical-duplex-img-container__part-img
                                      vertical-duplex-img-container__part-img--as-right-img
                                      vertical-duplex-img-container__part-img--as-lunch-decorated"></div>
        </div>
        <article class="meals-description-section__drinks-description-container">
            <div class="meals-description-container__article-title
                                      meals-description-container__article-title--as-drinks-positioned
                                      meals-description-container__article-title--as-drinks-container-configured">
                Drincks
            </div>
            <div class="meals-description-container__article-note
                                      meals-description-container__article-note--as-drinks-positioned
                                      meals-description-container__article-note--as-drinks-container-configured">
                We also produce delicious drinks
            </div>
            <div class="meals-description-container__article
                                      meals-description-container__article--as-drinks-positioned
                                      meals-description-container__article--as-drinks-container-configured">
                Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in re prehendeerit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Exce teur sint occaecat
                cupi datat non proident
            </div>
            <div class="meals-description-container__view-drinks-gallery-button-container">
                <a href="#mealsMultiCarouselSectionId" class="meals-description-container__reference">
                    VIEW GALLERRY <span class="meals-description-container__view-gallery-meals-button-related-right-arrow">&#8594</span>
                </a>
            </div>
        </article>
    </section>
