
    <!---------------------------------------multi-carousel--------------------------------------------------------->
    <aside class="meals-multi-carousel-section" id="mealsMultiCarouselSectionId">
        <div class="meals-multi-carousel">
            <div class="meals-multi-carousel__buttons-container">
                <button class="meals-multi-carousel__carusel-choice-button
                                        meals-multi-carousel__carusel-choice-button--active"  id="buttonFastFootId">
                    Fast Foot
                </button>
                <button class="meals-multi-carousel__carusel-choice-button
                                        meals-multi-carousel__carusel-choice-button--inactive" id="buttonDrinksId">
                    Drinks
                </button>
                <button class="meals-multi-carousel__carusel-choice-button
                                        meals-multi-carousel__carusel-choice-button--inactive" id="buttonChickenId">
                    Chicken
                </button>
                <button class="meals-multi-carousel__carusel-choice-button
                                        meals-multi-carousel__carusel-choice-button--inactive" id="buttonRiceId">
                    Rice
                </button>
            </div>
            <div class = "meal-carousel">
                <div class="slider-buttons-container__slider-button
                             slider-buttons-container__slider-button--inactive
                             slider-buttons-container__left-button" id="buttonLeftId">
                    <div class="box-angle   box-angle_as-left-button"></div>
                </div>
                <div class="meal-carousel-front-box">
                    <!------------------------------------------------------------------------------------------------------------------>
                    <div class="meal-carousel-front-box__gallery-container
                                 meal-carousel-front-box__gallery-container--active"  id="fastFootBoxId">
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container
                                             img-container--chicken-burger-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                      Chicken Burger
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container
                                             img-container--beef-burger-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                     Beef Burger
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container
                                             img-container--chicken-pizza-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                       Chicken Pizza
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container
                                             img-container--hot-dog-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                          Hot Dog
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container
                                             img-container--french-fries-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                       French Fries
                                 </span>
                        </div>
                    </div>
                    <!--------------------------------------------------------------------------------------------------------->
                    <div class="meal-carousel-front-box__gallery-container
                                 meal-carousel-front-box__gallery-container--inactive" id="drinksId">
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--juices-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                              Juices
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--cocktails-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                             Cocktails
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--hot-drinks-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                             Hot Drinks
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container   img-container--milk-drinks-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                             Milk Drinks
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--fruit-drinks-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                           Fruit Drinks
                                 </span>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------------------------->
                    <div class="meal-carousel-front-box__gallery-container
                                 meal-carousel-front-box__gallery-container--inactive" id="chickenBoxId">
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--chicken-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                              Baked Chicken
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--chicken-wings-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                            Chicken Wings
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--chicken-cutlets-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                              Chicken Cutlets
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container   img-container--chicken-rolls-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                              Chicken Rolls
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--chicken-legs-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                           Chicken Legs
                                 </span>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------------------------->
                    <div class="meal-carousel-front-box__gallery-container
                                 meal-carousel-front-box__gallery-container--inactive" id="riceBoxId">
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--pilaf-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                              Pilaf
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--chicken-wings-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                            Chicken Wings
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--chicken-cutlets-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                              Chicken Cutlets
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container   img-container--chicken-rolls-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                              Chicken Rolls
                                 </span>
                        </div>
                        <div class="meal-gallery-container__item-box">
                            <div class="meal-gallery-item-box__img-container  img-container--chicken-legs-decorated"></div>
                            <span class="meal-gallery-item-box__img-caption">
                                           Chicken Legs
                                 </span>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------------------------------->
                </div>
                <div class="slider-buttons-container__slider-button
                             slider-buttons-container__slider-button--active
                             slider-buttons-container__right-button"
                     id="buttonRightId">
                    <div class="box-angle   box-angle_as-right-button"></div>
                </div>
            </div>
        </div>
    </aside>
