    <section class="subscription-section" id="subscriptionSectionId">
             <span class="subscription-section__form-note">
                 Get our daily items delivered to your email
             </span>
        <form class="subscription-section__form-subscription" name="email">
            <input class="form-subscriptions__input-email" placeholder="Your email" type="email" id="emailInputId">
            <button class="form-subscriptions__button-subscription"  type="button" id="subscribeId">
                Subscribe
            </button>
        </form>
    </section>
