@media screen and (max-width: 500px){
  .comments-section__comments-container{
    grid-template-rows: minmax(auto, 10%)
                        minmax(auto, 10%)
                       /* minmax(auto, 20%)*/
                        minmax(auto, 80%);
  }
}


@media screen and (max-width: 500px){
  .comments-container__comments-text,
  .comments-container__aboout-menu-text{
    font-size: 0.9rem;
  }
}
/*----------------------------------------*/

@media screen and (max-width: 500px){
  .comments-container__comments-title{
    font-size: 1.3rem;
    text-align: center;
  }
  .comments-container__comments-author{
    font-size: 1.3rem;
  }
  .comments-container__aboout-menu-title{
    font-size: 1.3rem;
  }
}

