@font-face {
  font-family: "Aleo-Italic";
  src: url("./../fonts/Aleo-Italic.otf");
  font-family: "Aleo-Regular";
  src: url("./../fonts/Aleo-Regular.otf");
  font-family: "Aleo-Bold";
  src: url("./../fonts/Aleo-Bold.otf");
  font-family: "MuseoSans_500";
  src: url("./../fonts/MuseoSans_500.otf");
  font-family: "Aleo-Italic";
  src: url("./../fonts/Aleo-Italic.otf");
  font-family: "Aleo-Light";
  src: url("./../fonts/Aleo-Light.otf");
  font-family: "Aleo-Light";
  src: url("./../fonts/Aleo-Light.otf");
  font-family: "Raleway-Medium";
  src: url("./../fonts/Raleway-Medium.ttf");
}

