@media screen and (max-width: 650px){
    .nav-arrow{
        width:2rem;
        height:3rem;
        right:0rem;
    }

    .nav-arrow__scroll-arrow{
        width:  1rem;
        height: 1rem;
    }
}