.nav-arrow {

  &{
    width:4rem;
    height:5rem;
    position:fixed;
    bottom:-100rem;
    right:1.5rem;
    transition: top 0.3s;
  }
/*--------------------------------------------*/

  &__scroll-arrow{
    border: solid grey;
    opacity: 0.4;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    width:  1.8rem;
    height: 1.8rem;
    border-width: 0 0.3rem 0.3rem 0;
    display: inline-block;
    padding: 0;
    background-color: transparent;

    transform: rotate(223deg) translateX(-0.5rem) translateY(-0.5rem);
  }

  /*--------------------------------------------*/

  &__scroll-arrow:hover{
    background-color:  #e4e5e7;
  }

  /*--------------------------------------------*/

}
